//npm.greensock.com/:_authToken=36e8b117-5d61-4da2-9cc5-4ec8113c873a
@gsap:registry=https://npm.greensock.com
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FE20A1C2-B6B7-4378-93E4-39D19528E6B5